<head>
  <meta charset="utf-8" />
  <meta name="GENERATOR" content="Keyword Counter"/>
  <title>Report of experiment</title>
  <link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript">function showSpoiler(obj){ var inner =obj.parentNode.getElementsByTagName("div")[0]; if (inner.style.display == "none") inner.style.display = "";else inner.style.display = "none";}</script>
</head>
<body>
Generated on mer.
02/26/20
 at 16:48:53
<h1>General results</h1>
<embed src="estimated_goals_probability.pdf" width="500" height="520">
<embed src="average_estimated_goal1_probability.pdf" width="500" height="520">
<p>Evolution of images (left chart) and evolution of the average images for P(g1) (right chart)</p>
<br>
    <table style="width:40%">
      <tr><td>Experiment</td><td>Pir1(G1)</td><td>Pir2(G1)</td><td>Pir3(G1)</td><td>Pir4(G1)</td></tr>
    <tr><td>1</td><td>0,89
</td><td>0,17
</td><td>0,77
</td><td>0,79
</td></tr>
    <tr><td>2</td><td>0,89
</td><td>0,15
</td><td>0,80
</td><td>0,77
</td></tr>
    <tr><td>3</td><td>0,87
</td><td>0,04
</td><td>0,77
</td><td>0,76
</td></tr>
    <tr><td>4</td><td>0,59
</td><td>0,08
</td><td>0,68
</td><td>0,74
</td></tr>
    <tr><td>5</td><td>0,85
</td><td>0,17
</td><td>0,76
</td><td>0,80
</td></tr>
    <tr><td>6</td><td>0,78
</td><td>0,14
</td><td>0,77
</td><td>0,74
</td></tr>
    <tr><td>7</td><td>0,75
</td><td>0,23
</td><td>0,75
</td><td>0,77
</td></tr>
    <tr><td>8</td><td>0,89
</td><td>0,07
</td><td>0,80
</td><td>0,76
</td></tr>
    <tr><td>9</td><td>0,87
</td><td>0,27
</td><td>0,73
</td><td>0,72
</td></tr>
    <tr><td>10</td><td>0,78
</td><td>0,11
</td><td>0,71
</td><td>0,73
</td></tr>
    </table>
<p>Final values of P(g1) for each agent in each run</p>
<h2>Experiment number 1</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/1/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 2</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/2/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 3</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/3/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 4</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/4/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 5</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/5/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 6</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/6/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 7</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/7/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 8</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/8/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 9</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/9/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
<h2>Experiment number 10</h2>
<div class="spoiler"><br><input onclick="showSpoiler(this);" value="Show/Hide" type="button"><div class="inner" style="display: none;">
<embed src="out/10/estimated_goal1_probability.pdf" width="500" height="520">
</div></div>
</body>
